/* Variables */
:root {
  --bg-color: #e8eef0;
  --header-color: #57578f;
  --primary-color: #e3e3ee;
  --text-color: #56575a;
}
/* Variables end */

body {
  font-family: serif;
  color: var(--text-color);
  background: var(--primary-color);
}

h1 {
  font-size: 5em;
}

h1 span {
  font-weight: bold;
  color: rgb(60, 58, 58);
}

h2 {
  font-size: 3em;
}

header {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 20px 10px var(--text-color);
}

header h2 {
  color: var(--primary-color);
  padding-left: 2rem;
}

header nav {
  color: var(--header-color);
}

header ul {
  background: var(--header-color);
  margin: 0;
}

header li {
  opacity: 80%;
  font-size: 20px;
}

header a {
  text-decoration: none;
  /* color: rgb(224, 221, 221); */
  color: var(--primary-color);
}
header li :hover {
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 30px #787676;
}

.jumbotron {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  background: #e0e0f1;
}

.jumbotron img {
  border-radius: 50%;
  width: 20em;
  aspect-ratio: 1/1;
  margin-inline-end: 5em;
}

.jumbotron div {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.jumbotron p {
  font-size: 1.2em;
  padding-top: 0.2em;
}

/* .jumbotron a {
  width: 10em;
  text-decoration: none;
  color: var(--text-color);
  background: var(--header-color);
  padding: 0 1rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  border: 2px solid red;
} */

.projects-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-section :hover {
  opacity: 100%;
}

.cardcontainer {
  opacity: 75%;
  box-shadow: 10px 10px 50px rgb(175, 169, 169);
  width: 300px;
  height: 500px;
  border: 1px solid rgb(227, 233, 243);
  position: relative;
  margin-top: 2em;
}

.card-body {
  height: 60%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  text-align: center;
}

card-body p {
  font-size: 1em;
  height: 50%;
}

.card-body h6 {
  font-size: 0.75em;
  height: 20%;
}

.card-img-top {
  height: 40%;
  width: 100%;
}

.card-title {
  width: 100%;
  font-weight: bold;
  height: 20%;
}

.cardcontainer a {
  border-radius: 1.25em;
  font-size: 0.75em;
  border: 1px solid #57578f !important;
}

.link-image {
  width: 28px;
  aspect-ratio: 1/1;
}

.form-section {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  width: 30%;
  margin-top: 5em;
  background: #ceceeb;
  color: var(--text-color);
  border: 2px solid var(--header-color);
  color: var(--text-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  width: 5em;
  margin-bottom: 1em;
  border: 1px solid var(--header-color) !important;
}

form input {
  padding-top: 0;
  padding-bottom: 4em;
}

form h5 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
} */
