/* Variables */
:root {
  --bg-color: #e8eef0;
  --header-color: #57578f;
  --primary-color: #d9e4eb;
  --secondary-color: rgb(48, 248, 234);
  --text-color: #56575a;
}
/* Variables end */

body {
  font-family: serif;
  color: var(--text-color);
  background: rgb(254, 244, 224);
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
}

header {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

header h2 {
  color: var(--primary-color);
  padding-left: 2rem;
}

header nav {
  color: var(--header-color);
  border: 1px solid red;
}

header ul {
  background: var(--header-color);
}

header li {
  opacity: 80%;
  font-size: 20px;
}

header a {
  text-decoration: none;
  /* color: rgb(224, 221, 221); */
  color: var(--primary-color);
}
header li :hover {
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 30px #787676;
}

.bd-example {
  width: 20%;
}

.cardcontainer {
  width: 200px;
  border: 1px solid gray;
}

.jumbotron {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border: 2px solid black;
  text-align: left;
}

.jumbotron img {
  border-radius: 60em;
  width: 20%;
  margin-inline-end: 5em;
  margin-inline-start: 5em;
}

.jumbotron div {
  width: 50%;
  display: inline-block;
}

.jumbotron p {
}

.jumbotron a {
  text-decoration: none;
  color: darkblue;
  background: coral;
  padding: 0 1rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  border-radius: 1.25rem;
  border: 2px solid red;
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
}

.projects-section :hover {
  opacity: 100%;
}

.cardcontainer {
  opacity: 75%;
  box-shadow: 10px 10px 50px rgb(175, 169, 169);
}

.card-body {
  display: inline-block;
  text-align: center;
}

.card-img-top {
  height: 40%;
  width: 100%;
}

.card-title {
  width: 100%;
  font-weight: bold;
}

.cardcontainer a {
  border-radius: 1.25em;
  font-size: 0.75em;
}

.button {
  border-radius: 1.25rem;
}

.link-image {
  width: 25px;
  aspect-ratio: 1/1;
}
