.bd-example {
  width: 20%;
}

.cardcontainer {
  width: 200px;
  border: 1px solid gray;
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
}

.projects-section :hover {
  opacity: 100%;
  box-shadow: 10px 10px 40px rgb(222, 217, 217);
}

.cardcontainer {
  opacity: 80%;
}
